
@font-face {
    font-family: 'Helvetica Regular';
    src: url('../fonts/HelveticaNeueRegular.woff');
    src: url('../fonts/HelveticaNeueRegular.woff') format('woff'),
         url('../fonts/HelveticaNeueRegular.ttf') format('truetype');
    font-style: normal;
}
